*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    display: flex;
}

.filter{
    border-right: 5px black solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.tops, .mids, .bots{
    border-bottom: 1px black solid;
    display: flex;
    flex-direction: column;    
}

